nav {}

#avatar {
  width: 10em;
  min-width: 2em;
  margin: 0 auto;
  margin-bottom: 3em;
}

#avatar2 {
  margin-top: 20px;
  border-radius: 5px;
}

#social {}


/* **********************TYPOGRAFY******************************************* */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bevan', cursive;
  color: peru;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 2em;
}

#hero2 h1 {
  /*font-size: 2em;*/
  color: white;
}

#hero2 p {
  /*font-size: 1.5em;*/
  color: white;
}


/* ********************** .TYPOGRAFY******************************************* */


/* ********************** HERO COVER******************************************* */

#hero {
  max-width: 1280px;
  max-height: 900px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 6.5em;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero2 {
  max-width: 1280px;
  max-height: 900px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 6.5em;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background: url('https://s3.eu-central-1.amazonaws.com/camconsulting/madrid3.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  top: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
}

.video-container video.fillWidth {
  width: 100%;
}


/* ********************** .HERO COVER******************************************* */

hr {
  border: orange 2px solid;
}

.btn-default a {
  color: darkgreen;
}

label {
  margin-left: 10px;
}
