---
---
@import  "bootstrap-sprockets";
@import "bootstrap";
// @import url( 'https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
    font-family: Abel;
    src: url("../fonts/abel");
}
@font-face {
    font-family: Ubuntu;
    src: url("{{site.url}}/assets/fonts/ubuntu");
}

body {
    /*font-family: 'Pontano Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin: 0 auto;
    background-image: url("{{site.url}}/assets/img/crossword.png");
}

nav navbar-header {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-right {
    margin-right: 10px;

    a {
        display: inline-flex;
    }

    li:last-child,
    li:nth-child(7) {
        margin-left: -20px;
    }

    li:nth-child(5) {
        margin-right: 40px;
    }
}

.btn {
    margin-bottom: 15px;
}

#main {
    max-width: 1080px;
    margin: 0 auto;
}

#avatar {
    width: 10em;
    min-width: 2em;
    margin: 0 auto 3em;
}

#avatar2 {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
}
// * **********************TYPOGRAFY*******************************************
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: peru;
    padding-bottom: 20px;
}

.row,
section {
    padding-top: 30px;
}

#works {
    padding: 1em 0;
    margin: 1em 0;
}

#work {
    p {
        top: 50%;
        transform: translateY(-50%);
    }
}

#hero2 {
    /*font-size: 2em;*/
    h1,
    h2 {
        color: white;
    }
}

#certifications {
    ul li {
        font-size: 1rem;
    }
}
/* ********************** .TYPOGRAFY******************************************* */
/* ********************** HERO COVER******************************************* */
#hero {
    max-width: 1280px;
    max-height: 900px;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 6.5em;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero2 {
    background-image: url('https://s3.eu-central-1.amazonaws.com/camconsulting/madrid3.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 1280px;
  max-height: 900px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 6.5em;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background: url('https://s3.eu-central-1.amazonaws.com/camconsulting/madrid3.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
/* ********************** .HERO COVER******************************************* */
hr {
    border: orange 2px solid;
}

.btn-default a {
    color: darkgreen;
}

label {
    margin-left: 10px;
}

#lg-icon {
    img {
        height: 25px;
        width: 25px;
        margin: 0;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#hero-container {
    position: relative;
    animation: landinginca1 3s ease-in-out;
}

#box1 {
    position: absolute;
    bottom: 55%;
    left: 0;
    width: 36%;
    background-color: rgba(0,0,0,0.5);
    padding: 1em 0.5em 0.5em 3em;
    color: white;
    z-index: 10;
    font-size: 1.2vw;
    animation: landinginca2 3s ease-in-out;
    // transform: translate(200px, 0);
    // transition: opacity 300ms ease-in-out;
}

#box2 {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 38%;
    padding: 0 2em;
    font-size: 1.4vw;
    animation: landinginca3 3s ease-in-out;
}
// ************ POST LAYOUT *****************

.container-fluid {
    padding: 0;
    max-width: 1280px;
}

#header-post-container {
    width: 100%;
    max-height: auto;
    position: relative;

    #header-bgsq {
        display: none;
    }

    nav {
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        li a {
            color: #f3f3f3;
        }

        .navbar-default {
            li {
                margin-right: 1.5em;

                a {
                    color: #f3f3f3;
                }
            }
        }
    }
    // img.img-responsive.center-block {
    //   opacity: 0.7;
    //   filter: alpha(opacity=70);
    // }
    #header-copy {
        position: absolute;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        left: auto;
        right: auto;
        bottom: 7vw;
        width: 100%;
        text-align: center;
        padding: 4em;
        animation: headpost1 2s ease-in-out;

        h1 {
            color: #f3f3f3;
            padding-bottom: 0;
            font-size: 3vw;
        }
        h4 {
            color: #f3f3f3;
            padding-bottom: 0;
            font-size: 2vw;
        }
    }

    #header-av {
        // background-color: rgba(0,0,0,0.3);

        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 0 5em;
        right: 0;
        left: 0;
        animation: headpost2 2.2s ease-in-out;

        img {
            height: 50px;
        }

        p {
            font-weight: 700;
            color: #f3f3f3;
            font-size: 1.2vw;
            text-align: left;
        }
    }
    }
    // ************ /POST LAYOUT *****************
    // ******************** KEYFRAMES *************************
    @keyframes landinginca1 {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    @keyframes landinginca2 {
        from {
            left: -30%;
            opacity: 0;
        }

        to {
            left: 0;
            opacity: 1;
        }
    }
    @keyframes landinginca3 {
        from {
            right: -30%;
            opacity: 0.1;
        }

        to {
            right: 0;
            opacity: 1;
        }
    }
    @keyframes headpost1 {
        0% {
            bottom: 2vw;
            opacity: 0;
        }

        100% {
            bottom: 4vw;
            opacity: 1;
        }
    }
    @keyframes headpost2 {
        from {
            bottom: -10%;
            opacity: 0;
        }

        to {
            bottom: 0;
            opacity: 1;
        }
    }
    // ************************/KEYFRAMES ************
    // ****************** MOBILE ******************
    @media (min-width: 0px) and (max-width: 426px) {
        #hero-container {
            margin: 0 auto;
        }

        #box1 {
            display: block;
            position: static;
            // bottom: 60%;
            // left: 0;
            width: 100%;
            text-align: center;
            // z-index: 2;
            p {
                font-size: 18px;
                margin: 0 auto;
            }
        }

        #box2 {
            display: block;
            position: static;
            padding: 20px 5px 0;
            width: 100%;
            animation: landinginca1 3s ease-in-out;

            p {
                font-size: 20px;
            }
        }
        #header-post-container {
            #header-bg {
                display: none;
            }

            #header-bgsq {
                display: block;
            }
        }

        #header-av,
        #header-copy {
            display: block!important;
            position: static!important;
            animation: none!important;
            padding: 0 1em 1em !important;

            h1{
                color: black!important;
                text-align: center;
                font-size: 2em!important;
            }
            h4{
                color: black!important;
                text-align: center;
                font-size: 1em!important;
            }
            p {
                color: black!important;
                text-align: center!important;
                font-size: 0.8em!important;
            }
        }


    }

  //  ****************** /MOBILE ******************
